/* ----------Google Fonts Added---------- */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* font-family: "Manrope", sans-serif; */

@import "tailwindcss";
@source "./public/*.{html,js}"; /*----- Directs Tailwind to scan your HTML and JS files for Tailwind classes -----*/
@plugin "daisyui" {
  themes: all; /*----- Imports all DaisyUI themes -----*/
}

/* ----------CSS Custom Styles Added---------- */
@theme {
  --font-primary: "Manrope", sans-serif;
  --color-main: #abef5f;
}
